<div class="col-sm-1 text-center">
  <a class="glyphicon glyphicon-chevron-left"></a>
</div>
<div class="col-sm-10">
  <div id="browser">
    <!-- tabs -->
     
    <ul class="tabs">
      <li class="active">
        <img src="http://demo.reactioncommerce.com/favicon.ico">
        <span>Overview</span>
        <a>×</a>
      </li>
      <li>
        <img src="http://demo.reactioncommerce.com/favicon.ico">
        <span>Feature 1</span>
        <a>×</a>
      </li>
      <li>
        <img src="http://demo.reactioncommerce.com/favicon.ico">
        <span>Feature 2</span>
        <a>×</a>
      </li>
    </ul>
     
    <!-- add tab -->
     
    <a href="#" class="add"></a>
     
    <!-- bar -->
     
    <div class="bar clear">
    </div>
     
    <div class="page">
      <img src="{{ site.baseurl }}/assets/img/vid1.jpg" class="img-reponsive">
      <img src="{{ site.baseurl }}/assets/img/vid2.jpg" class="img-reponsive">
      <img src="{{ site.baseurl }}/assets/img/vid3.jpg" class="img-reponsive">
    </div>
  </div>
</div>
<div class="col-sm-1 text-center">
  <a class="glyphicon glyphicon-chevron-right"></a>
</div>

