<ul class="nav nav-stacked hidden-print hidden-xs" id="sidebar">
	<li>
		<a href="#products">Products</a>
		<ul class="nav">
			<li><a href="#products-creating">Creating Products</a></li>
			<li><a href="#products-editing">Editing Products</a></li>
			<li><a href="#products-removing">Removing Products</a></li>
			<li><a href="#products-variants">Product Variants</a></li>
			<li><a href="#products-media">Product Media</a></li>
		</ul>
	</li>
	<li>
		<a href="#orders">Orders</a>
		<ul class="nav">
			<li><a href="#orders-cart">Cart</a></li>
			<li><a href="#orders-checkout">Checkout</a></li>
			<li><a href="#orders-fulfilling">Fulfilling Orders</a></li>
		</ul>
	</li>
	<li>
		<a href="#dashboard">Dashboard</a>
		<ul class="nav">
			<li><a href="#dashboard-mail">Mail</a></li>
			<li><a href="#dashboard-themes">Themes</a></li>
			<li><a href="#dashboard-templates">Templates</a></li>
			<li><a href="#dashboard-accounts">Accounts</a></li>
		</ul>
	</li>
</ul>