      <footer>
        <div class="container-fluid main-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h4>Resources</h4>
                <ul class="list-unstyled">
                  <li>User manual</li>
                  <li>Developer docs</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <h4>Company</h4>
                <ul class="list-unstyled">
                  <li>About</li>
                  <li>Blog</li>
                  <li>Contact us</li>
                </ul>
              </div>
              <div class="col-sm-4">
                <i class="fa fa-twitter-square fa-3x"></i>
                <i class="fa fa-google-plus-square fa-3x"></i>
                <i class="fa fa-facebook-square fa-3x"></i>
                <i class="fa fa-github-square fa-3x"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid sub-footer">
          <div class="container">
            <div class="row">
              <span>
                    Built with
                    <span class="glyphicon glyphicon-heart" style="color:#F8A94A;"></span>
                    in Los Angeles
              </span>
              <span class="pull-right text-muted">
                &copy; 2014 <a href="http://ongoworks.com" target="_blank">Ongo Works</a>
              </span>
            </div>
          </div>
        </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/reaction.js"></script>
  </body>
</html>