<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}">Reaction Commerce</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a 
          {% if page.url == '/features/index.html' %}
            class="active"
          {% endif %}
        href="{{ site.baseurl }}/features/">Features</a></li>
        <li><a 
          {% if page.url == '/manual/index.html' %}
            class="active"
          {% endif %}
        href="{{ site.baseurl }}/manual/">User Manual</a></li>
        <li><a 
          {% if page.url == '/docs/index.html' %}
            class="active"
          {% endif %}
        href="{{ site.baseurl }}/docs/">Developer Docs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a
          {% if page.url == '/contact/index.html' %}
            class="active"
          {% endif %}
        href="{{ site.baseurl }}/contact">Contact Us</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>
