{% if page.url == '/support/index.html' %}
  {% assign support_active = 'active' %}
{% elsif page.url == '/docs/index.html' %}
  {% assign docs_active = 'active' %}
{% endif %}

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">Reaction Commerce</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="{{ support_active }}" href="support/">Support</a></li>
            <li><a class="{{ docs_active }}" href="docs/">Docs</a></li>
            <li><a class="{{ contact_active }}" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>