      <footer>
        <div class="main-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <h4>Resources</h4>
                <ul class="list-unstyled">
                  <!-- <li><a href="{{ site.baseurl }}/manual/">User Manual</a></li>
                  <li><a href="{{ site.baseurl }}/dev/">Developer Docs</a></li> -->
                  <li><a href="#">Coming Soon!</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6">
                <h4>Company</h4>
                <ul class="list-unstyled">
                  <li><a href="{{ site.baseurl }}/about/">About</a></li>
                  <li><a href="http://blog.reactioncommerce.com">Blog</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-6 contact">
                <h4>Contact</h4>
                <a class="emaillink" href="mailto:hello@ongoworks.com">hello@ongoworks.com</a>
                <a href="https://github.com/ongoworks/reaction" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
                <a href="https://www.linkedin.com/groups/Reaction-Commerce-6654861" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
                <a href="https://twitter.com/getreaction" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a>
                <a href="#" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://trello.com/b/ffwTH3tc/reaction-commerce" target="_blank"><i class="fa fa-trello fa-3x"></i></a>
              </div>
              <div class="col-md-3 col-sm-6 subscribe">
                <h4>Subscribe</h4>
                <span>Get the latest news and updates.</span>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="http://ongoworks.us3.list-manage1.com/subscribe/post?u=e027cfae41bad49a188847c6b&amp;id=e7da6a141c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group">
                  <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter email">
                </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e027cfae41bad49a188847c6b_e7da6a141c" value=""></div>
                    <input type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                </form>
                </div>
                <!--End mc_embed_signup-->
                
              </div>
            </div>
          </div>
        </div>
        <div class="sub-footer text-center">
          <div class="container">
              <div class="row">
                <div class="col-sm-6">
                      Built with
                      <span class="glyphicon glyphicon-heart"></span>
                      in Los Angeles
                </div>
                <div class="col-sm-6">
                  <span class="text-muted">
                    &copy; 2014 <a href="http://ongoworks.com" target="_blank">Ongo Works</a>
                  </span>
                </div>
              </div>
          </div>
        </div>
      </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/reaction.js"></script>
  </body>
</html>