<ul class="nav nav-stacked hidden-print hidden-xs" id="sidebar">
	<li>
		<a href="#products">Products</a>
		<ul class="nav">
			<li><a href="#creating-products">Creating Products</a></li>
			<li><a href="#editing-products">Editing Products</a></li>
			<li><a href="#removing-products">Removing Products</a></li>
			<li><a href="#product-variants">Product Variants</a></li>
			<li><a href="#product-media">Product Media</a></li>
		</ul>
	</li>
	<li><a href="#addedit">Add/Edit Products</a></li>
	<li><a href="#dragdrop">Drag & Drop Merchandising</a></li>
	<li><a href="#category">Category & Tag Management</a></li>
	<li><a href="#positioning">Positioning Products</a></li>
	<li><a href="#order">Order Management</a></li>
</ul>