<div class="three columns sidebar">
  <nav>
    <h3 id="logo">Reaction Commerce</h3>
    {% for section in site.data.docs %}
	    <h4>{{ section.title }}</h4>

		<ul>
		{% for item in section.docs %}
			{% if section.title == 'User Manual' %}
				{% assign item_url = item | prepend:'/user/' | append:'/' %}
			{% else %}
				{% assign item_url = item | prepend:'/dev/' | append:'/' %}
			{% endif %}
		  	<li><a href="{{ item_url }}"> {{ item }} </a></li>
		{% endfor %}
		</ul>
    {% endfor %}
  </nav>
      &nbsp;
</div>