@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body {
	font-family: Roboto, sans-serif;
}

.navbar {
  border-radius: 0;
}

.navbar-nav a.active {
	text-decoration: underline;
}

.docs-header {
	height: 75px;
}

footer {
	height: 40px;
}

/* Sidebar */

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
  	
}

#sidebar li a {
	color: #808080;
}

#sidebar li.active a {
	color: #f0ad4e;
}

/* Feature sections */
.video-container {
	padding: 20px 0;
}