---
layout: features
title: Features
---

{% include top.html %}

  <body>

  {% include mainnav.html %}

    <div class="container">
    	<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
	    		<div class="video-container col-sm-8">
	    			<img src="http://placehold.it/470x270">
	    		</div>
	    		<div class="feature-content col-sm-4">
	    			<h3>Dashboard</h3>
	    			<p>
	  	  				Praesent vehicula euismod lectus quis blandit. Sed metus leo, lacinia a scelerisque eu, adipiscing nec metus. Donec vel sollicitudin turpis. Nulla facilisi.
    				</p>
    				<a href="{{ site.baseurl }}/manual/#dashboard">Learn More</a>
	    		</div>
	    	</div>
	    	<div class="col-sm-12"><hr></div>
    	</div>
    	<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
	    		<div class="video-container col-sm-8">
	    			<img src="http://placehold.it/470x270">
	    		</div>
	    		<div class="feature-content col-sm-4">
	    			<h3>Add/Edit Products</h3>
	    			<p>
	    				Praesent vehicula euismod lectus quis blandit. Sed metus leo, lacinia a scelerisque eu, adipiscing nec metus. Donec vel sollicitudin turpis. Nulla facilisi.
    				</p>
    				<a href="{{ site.baseurl }}/manual/#addedit">Learn More</a>
	    		</div>
	    	</div>
	    	<div class="col-sm-12"><hr></div>
    	</div>
    	<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
	    		<div class="video-container col-sm-8">
	    			<img src="http://placehold.it/470x270">
	    		</div>
	    		<div class="feature-content col-sm-4">
	    			<h3>Drag & Drop Merchandising</h3>
	    			<p>
	    				Praesent vehicula euismod lectus quis blandit. Sed metus leo, lacinia a scelerisque eu, adipiscing nec metus. Donec vel sollicitudin turpis. Nulla facilisi.
    				</p>
    				<a href="{{ site.baseurl }}/manual/#dragdrop">Learn More</a>
	    		</div>
	    		<div class="col-sm-12"><hr></div>
	    	</div>
    	</div>
    	<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
	    		<div class="video-container col-sm-8">
	    			<img src="http://placehold.it/470x270">
	    		</div>
	    		<div class="feature-content col-sm-4">
	    			<h3>Category & Tag Management</h3>
	    			<p>
	    				Praesent vehicula euismod lectus quis blandit. Sed metus leo, lacinia a scelerisque eu, adipiscing nec metus. Donec vel sollicitudin turpis. Nulla facilisi.
    				</p>
    				<a href="{{ site.baseurl }}/manual/#category">Learn More</a>
	    		</div>
	    		<div class="col-sm-12"><hr></div>
	    	</div>
    	</div>
    	<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
	    		<div class="video-container col-sm-8">
	    			<img src="http://placehold.it/470x270">
	    		</div>
	    		<div class="feature-content col-sm-4">
	    			<h3>Positioning Products</h3>
	    			<p>
	    				Praesent vehicula euismod lectus quis blandit. Sed metus leo, lacinia a scelerisque eu, adipiscing nec metus. Donec vel sollicitudin turpis. Nulla facilisi.
    				</p>
    				<a href="{{ site.baseurl }}/manual/#positioning">Learn More</a>
	    		</div>
	    	</div>
	    	<div class="col-sm-12"><hr></div>
    	</div>
    	<div class="row">
	    	<div class="col-sm-8 col-sm-offset-2">
	    		<div class="video-container col-sm-8">
	    			<img src="http://placehold.it/470x270">
	    		</div>
	    		<div class="feature-content col-sm-4">
	    			<h3>Order Management</h3>
	    			<p>
	    				Praesent vehicula euismod lectus quis blandit. Sed metus leo, lacinia a scelerisque eu, adipiscing nec metus. Donec vel sollicitudin turpis. Nulla facilisi.
    				</p>
    				<a href="{{ site.baseurl }}/manual/#order">Learn More</a>
	    		</div>
	    	</div>
    	</div>
    </div>
      
{% include bottom.html %}