
{% include top.html %}

  <body>

    {% include mainnav.html %}

    <div class="container">
      <div class="row">
        <div class="header col-sm-12">
          <h1>User Manual</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3" id="leftCol">

          {% include manualnav.html %}

        </div>
        <div class="col-sm-8 col-sm-offset-1 docs">

          {{ content }}
          
        </div>
      </div>
    </div>
      
{% include bottom.html %}